/* Panel Styles .css for MissionMail Render Process*/

#container > div {
    display: none;
}

#container > .active {
    display: block;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select-button {
    width: 100%;
    height: 50px;
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    font-family: "Raleway";
    color: white;
    line-height: 50px;
    border: 2px solid;
    border-radius: 25px;
    background: rgba(40,40,40,1);
    cursor: pointer;
}

.title-status {
    position:fixed;
    z-index: 2;
    color: rgba(255,255,255,1);
    font-family: "Raleway";
    top: 2px;
    left: 95px;
    -webkit-app-region: drag;
}

/* Startup Page Styles */
#selection {
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}